{% extends 'mobile.html.twig' %}

{% block title %}Log in{% endblock %}

{% block header_title %}Log in{% endblock %}
{% block header_detail %}{% trans %}Please authenticate yourself{% endtrans %}{% endblock %}
{% block header_footer %}{% endblock %}

{% block content %}
    <div class="{{ cssgrid }}">
        <article>
            <form method="post" class="pure-form pure-form-stacked">
                {% if error %}
                    <h2 class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</h2>
                {% endif %}

                <label for="inputUsername">{% trans %}Username{% endtrans %}</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="pure-input-1" required autofocus>
                <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
                <input type="password" name="password" id="inputPassword" class="pure-input-1" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                       >

                <button class="pure-button" type="submit">
                    {% trans %}Sign in{% endtrans %}
                </button>
            </form>
        </article>
    </div>
{% endblock %}
