/* design for all icons */
.mobile i {
    font-size: 140%;
    color: #aaa;
}

/* design for footer icons */
.mobile article footer {
    text-align: center;
}

.mobile .content i {
    font-size: 100%;
}

/* design for article */
.mobile article h2 span {
    color: #aaa;
}

.content {
    line-height: 160%
}

/* color of links in content */
.mobile .content a {
    text-decoration: none;
    font-style: italic;
    color: darkblue;    
}

.mobile .content a.wiki-missing {
    color: red;
}

/* for the pin icon */
.pinned {
    text-align: right;
}

.pinned a {
    margin-right: 0.8em;
}

/* list of doc */
.mobile .big-link {
    font-size: 300%;
}

/* for qrcode export */
.qrcode article {
    margin: 2em;
}