/* some color for header */
.warning {
    background-color: #ffc5f6;
    color: #333;
}

.mobile .headline {
    background-color: #2199e8;
    color: white;
}

/* design for all icons */
.mobile i {
    font-size: 140%;
    color: #bbb;
}

/* design for footer icons */
.mobile article footer {
    text-align: center;
}

/* color of links in content */
.mobile .content a {
    text-decoration: none;
    font-style: italic;
    color: darkblue;    
}

.mobile .content a.wiki-missing {
    color: red;
}

/* for the pin icon */
.pinned {
    text-align: right;
}

.pinned a {
    margin-right: 0.8em;
}