.document article, .document header {
    margin-left: 0.8em;
    margin-top: 0.8em;
}

.document footer {
    margin-right: 0.8em;
}

h1 {
    font-weight: 400;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 120%;
    margin: 0 0 0.3em;
}

.neutral {
    background-color: #fe6f1a;
    color: white;
}

.warning {
    background-color: #ffc5f6;
    color: #333;
}

.document footer {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.document .headline {
    background-color: #2199e8;
    color: white;
}

.document article footer a {
    border-radius: 2em;
}

.document footer .right {
    text-align: right;
}

.document .content a {
    text-decoration: none;
    font-style: italic;
    color: darkblue;    
}

.content {
    line-height: 140%
}

.document .content a.wiki-missing {
    color: red;
}

.pinned {
    text-align: right;
}

.pinned a {
    margin-right: 0.8em;
}