{% extends 'sentence/form.html.twig' %}
{%  block title %}
    Create new Sentence
{%  endblock %}
{% block body %}
    <header>
        <h1>Creation of Sentence</h1>
    </header>
    <section>
        {{ form(form) }}
    </section>
{% endblock %}