{% extends 'sentence/form.html.twig' %}

{% block title %}{% trans %}Create new Sentence{% endtrans %}{%  endblock %}
{% block header_title %}{% trans %}Create new Sentence{% endtrans %}{% endblock %}
{% block header_detail %}{% trans %}The name must be unique{% endtrans %}{% endblock %}
{% block header_class %}headline{% endblock %}

{% block content %}
    <div class="{{ cssgrid }}">
        <article> 
            {{ form(form) }}
        </article>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var obj = document.getElementById('sentence_key')
        obj.focus()
    </script>
{% endblock %}