{% extends 'sentence/form.html.twig' %}

{% block title %}Create new Sentence{%  endblock %}
{% block header_title %}Create new Sentence{% endblock %}
{% block header_detail %}The name must be unique{% endblock %}
{% block header_footer %}{% endblock %}
{% block header_class %}headline{% endblock %}

{% block content %}
    <div class="{{ cssgrid }}">
        <article> 
            {{ form(form) }}
        </article>
    </div>
{% endblock %}