{% extends 'base.html.twig' %}
{%  block title %}
    {{ document.title }} - {{ document.description }}
{%  endblock %}
{% block body %}
    <section class="pure-g document">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </section>
{% endblock %}