{% extends 'base.html.twig' %}
{%  block title %}
    Listing
{%  endblock %}
{% block body %}
    <header>
        <h1>Listing</h1>
    </header>
    <section>
        <ul>
            {% for doc in listing %}
                <li>
                    <a href="{{ path('app_documentcrud_show',{title: doc.getBasename('.doc')}) }}">{{ doc.getBasename('.doc') }}</a>
                </li>  
            {% endfor %}
        </ul>
    </section>
{% endblock %}