{% extends 'document/list.html.twig' %}
{%  block title %}
    Create new document
{%  endblock %}
{% block content %}
    <div class="{{ cssgrid }}">
        <article> 
            <h1>Creation of Document</h1>

            {{ form(form) }}
        </article>
    </div>
{% endblock %}