{% extends 'base.html.twig' %}
{%  block title %}
    Create new document
{%  endblock %}
{% block body %}
    <header>
        <h1>Creation of Document</h1>
    </header>
    <section>
        {{ form(form) }}
    </section>
{% endblock %}