{% extends 'mobile.html.twig' %}

{% block title %}{% trans %}Create a new document{% endtrans %}{%  endblock %}
{% block header_title %}{% trans %}Create a new document{% endtrans %}{% endblock %}
{% block header_detail %}{% trans %}It will be automatically saved{% endtrans %}{% endblock %}
{% block header_footer %}{% endblock %}
{% block header_class %}color-secondary-2{% endblock %}

{% block content %}
    <div class="{{ cssgrid }}">
        <article> 
            {{ form(form) }}
        </article>
    </div>
{% endblock %}