{% extends 'mobile.html.twig' %}

{% block title %}Create a new document{%  endblock %}
{% block header_title %}Create a new document{% endblock %}
{% block header_detail %}It will be automatically saved{% endblock %}
{% block header_footer %}{% endblock %}

{% block content %}
    <div class="{{ cssgrid }}">
        <article> 
            {{ form(form) }}
        </article>
    </div>
{% endblock %}