{% extends "mobile.html.twig" %}

{% block title %}{% trans %}Error{% endtrans %}{% endblock %}

{% block header_title %}{% trans %}Not Found{% endtrans %}{% endblock %}
{% block header_detail %}{% trans %}The requested URL was not found{% endtrans %}{% endblock %}
{% block header_footer %}{% endblock %}

{% block content %}
    <div class="{{ cssgrid }}">
        <article>
            {% trans %}Perhaps you want to try{% endtrans %}
            <a href="{{ path('app_documentcrud_list') }}">
                {% trans %}the list of Documents{% endtrans %}
            </a>
        </article>
    </div>
{% endblock %}